<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settings</key>
	<dict>
		<key>Order</key>
		<array>
			<string>api</string>
			<string>Author</string>
			<string>Version</string>
			<string>Debug</string>
		</array>
		<key>Debug</key>
		<true/>
		<key>Author</key>
		<string>Milan</string>
		<key>Version</key>
		<string>0.1</string>
		<key>api</key>
		<dict>
			<key>destroy</key>
			<string>destroy</string>
			<key>list</key>
			<string>list</string>
			<key>create</key>
			<string>create</string>
			<key>host</key>
			<string>http://10.0.2.11</string>
			<key>base_url</key>
			<string>image</string>
			<key>ticket</key>
			<string>ticket</string>
		</dict>
	</dict>
	<key>storages</key>
	<array>
		<dict>
			<key>tickets</key>
			<array>
				<dict>
					<key>type</key>
					<string>软卧</string>
					<key>number</key>
					<string>z11</string>
					<key>seats</key>
					<string>34</string>
				</dict>
				<dict>
					<key>seats</key>
					<string>12</string>
					<key>number</key>
					<string>z31</string>
					<key>type</key>
					<string>硬座</string>
				</dict>
			</array>
			<key>end</key>
			<date>2011-12-13T09:40:59Z</date>
			<key>start</key>
			<date>2011-12-13T09:41:06Z</date>
			<key>destination</key>
			<string>beijing</string>
			<key>departure</key>
			<string>wuhan</string>
		</dict>
		<dict>
			<key>tickets</key>
			<array>
				<dict>
					<key>seats</key>
					<string>12</string>
					<key>number</key>
					<string>z31</string>
					<key>type</key>
					<string>硬座</string>
				</dict>
			</array>
			<key>end</key>
			<date>2011-12-13T09:40:59Z</date>
			<key>start</key>
			<date>2011-12-13T09:41:06Z</date>
			<key>destination</key>
			<string>beijing</string>
			<key>departure</key>
			<string>wuhan</string>
		</dict>
	</array>
</dict>
</plist>
